.tagClass0{
  color: #FA8C16;
  background-color:#fa8c1600;
  border: 1px solid #FA8C16;
}
.tagClass1{
  color: #52C41A;
  background-color:#52c41a08;
  border: 1px solid #52C41A;
}
.tagClass2{
  color: #F5222D;
  background-color:#f5222d21;
  border: 1px solid #F5222D;
}
.tagClass3{
  color: #1890FF;
  background-color:#1890ff17;
  border: 1px solid #1890FF;
}
.tagClass4{
  color: #eb2f96;
  background-color:#f5eaf0;
  border: 1px solid #eb2f96;
}
.tagClass5{
  color: #5C8EE6;
  background-color:#5c8ee612;
  border: 1px solid #5C8EE6;
}
.tagClass6{
  color: #40A9FF;
  background-color: #40a9ff1a;
  border: 1px solid #40A9FF;
}
.tagClass7{
  color: #2FC25B;
  background-color: #2fc25b0f;
  border: 1px solid #2FC25B;
}
.tagClass8{
  color: #8543E0;
  background-color: #8543e014;
  border: 1px solid #8543E0;
}